# Игнорирование папки виртуальной среды
.venv/

# Игнорирование скомпилированных файлов Python
*.pyc
*.pyo
__pycache__

# Игнорирование файлов настроек IDE
.idea/
.vscode/

# Игнорирование лог-файлов
*.log

# Игнорирование временных файлов и кэша
*.tmp
*.swp
.DS_Store

# Игнорирование зависимостей и папок сборки
node_modules/
dist/
build/
